@charset"utf-8";
body{font-family:Arial,Helvetica,sans-serif;}
#positionfix{position:fixed;background-color:#fff;z-index:3;width:100%;border-top:3px #000 solid;bottom:0;margin-bottom:-8px}
#buttons{position:fixed;background-color:#fff;z-index:2;width:800px;height:50px;border-bottom:1px #333 solid;margin-top:-8px}
table{width:100%}
h1{text-align:center}
#advancedform th, #liveform th {text-align:left}
#buttons th{width:25%}
#buttons button {width:80%}
th{width:50%}
body{width:100%}
#container{width:800px;margin-left:auto;margin-right:auto;z-index:1;padding-bottom:250px}
hr{margin:30px 0 30px}
#advancedform input, #liveform input{width:90%}
#formfields{padding-top:50px}
button,input[type="button"] {padding:5px 15px;border-radius:5px;transition: all 0.8s ease;}
button:hover,input[type="button"]:hover{padding:5px 15px;border-radius:5px;background-color:#333;color:#fff;transition: all 0.8s ease;}
#advancedform{display:none;margin-top:20px}
#howtouse li {font-size:1.25em;line-height:1.75em}
#legalinfo {position:fixed;width:600px;height:210px;right:0px;bottom:0px;border:solid #000 3px;z-index:5;font-size:0.8em;margin-bottom:-8px}
#legalinfo a,#legalinfo span,#legalinfo p{font-size:0.9em}
#hidelegalbutton {text-align:center;margin:10px auto 10px auto}
#legalinfo input {text-align:center;margin:10px auto 10px auto}
#legalinfo h3 {margin-top:6px;margin-bottom:6px}
.minor {font-size:0.8em;line-height:1em!important;list-style-type:none;display:block}
#footerinstagram, #footerfacebook, #footertwitter{text-decoration:none;border:none;}
.social-icon{font-size:24px;color:#000000;margin-right:8px;}
.social-icon:hover{opacity:0.7;}